@charset "utf-8";
/* CSS Document */
* {
	padding: 0px;
	margin: 0px;
}

html,body,input,textarea,select,table,pre {
	font-size: 12px;
	font-family: 'Microsoft Yahei', Tahoma;
}

table,tr,td {
	border-collapse: collapse;
}

table[Attributes Style] {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	width: 100%;
}

user agent stylesheettable {
	display: table;
	border-collapse: separate;
	border-spacing: 2px;
	border-color: gray;
}

.feedback-pane {
	position: absolute;
	top: 80px;
	right: 16px;
	padding: 0px;
	background: #fff;
	height: 207px;
}

.feedback-pane-tab {
	position: absolute;
	top: 1px;
	left: -27px;
	width: 27px;
	height: 120px;
	background: #eee url(../images/dealer/feedback_track_close.jpg) no-repeat
		scroll 0 0;
	outline: none;
	text-align: center;
}

.feedback-pane-content {
	width: 260px;
	padding: 10px;
	border: solid 1px #ccc;
}

.ui-dtfrm {
	border: solid 0px #eee;
}

.ui-dtfrm th {
	line-height: 22px;
	padding: 2px;
	font-weight: normal;
	text-align: right;
	vertical-align: top;
	background-color: #f7f7f7;
}

.ui-dtfrm th,.ui-dtfrm td {
	border: 1px solid #f3f3f3;
}

.ui-txt {
	padding: 3px;
	width: 140px;
	outline: none;
}

.ui-txt,select,textarea {
	padding: 2px;
	border: 1px solid #ccc;
	border-radius: 0;
}